#!/usr/bin/env bash

#IP_DEV=

#DEVICE_DOMAIN=
#DEVICE_NAME=
#DEVICE_TYPE=
#DEVICE_ROOM=
#DEVICE_USER=
#DEVICE_PASS=

# Save state and aplly after reboot
# for interupted SONOFF
#SAVE_SATE=1
#POWERONSTATE=3
# for external interrupt (alway on on boot)
SAVE_SATE=0
POWERONSTATE=1

# Not add unit on result value
NO_UNIT=0

# Display value on Fahrenheit (or Celsius)
UNIT_FAR=0

DISPLAY_ENABLE=1

## DEFINE MANUALY ! (NOT USE FROM DHCP)
NTP_SRV1=pool.ntp.org
#NTP_SRV2=0

## SERIAL CONFIG
SER_BAUD=9600

## MQTT
MQTT_ENABLE=1
#MQTT_HOST=
MQTT_PORT=1883
#MQTT_USER=
#MQTT_PASS=
MQTT_CLIENT=DVES_%06X
MQTT_GRP=all
MQTT_TOPIC="$DEVICE_NAME"
MQTT_FULLTOPIC="home/$DEVICE_ROOM/$DEVICE_TYPE/%topic%/%prefix%/"
MQTT_PREFIX_CMD=cmd
MQTT_PREFIX_STA=state
MQTT_MSG_OFF=OFF
MQTT_MSG_ON=ON
MQTT_MSG_TOGGLE=TOGGLE
MQTT_MSG_HOLD=HOLD
